tulip-web/src/main/resources/META-INF/tulip-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.itjiehun.com/schema/tulip/service" 
			xmlns:tns="http://www.itjiehun.com/schema/tulip/service" 
			targetNamespace="http://www.itjiehun.com/schema/tulip/service" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:complexType name="identified-type" abstract="true">
		<xsd:attribute name="auto-config" type="defaultable-boolean" default="true"/>
	</xsd:complexType>
	
	<xsd:element name="tulip" type="tulip-type"/>
	
	<xsd:complexType name="tulip-type">
		<xsd:complexContent>
			<xsd:extension base="identified-type">
				<xsd:group ref="tulip-elements"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:group name="tulip-elements">
		<xsd:all>
			<xsd:element ref="commons" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="view-resolver" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="velocity-engine" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="event-cartridge" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="view-controller" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:group>

	<xsd:element name="commons" type="commons-type"/>
	<xsd:element name="view-resolver" type="view-resolver-type"/>
	<xsd:element name="view-controller" type="view-controller-type"/>
	<xsd:element name="velocity-engine" type="velocity-engine-type"/>
	<xsd:element name="event-cartridge" type="event-cartridge-type"/>
	
	<xsd:complexType name="commons-type">
		<xsd:all>
			<xsd:element name="template-dir" type="template-dir-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="suffix" type="suffix-type" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	
	<xsd:complexType name="view-resolver-type">
		<xsd:all>
			<xsd:element name="screen-dir" type="screen-dir-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="layout-dir" type="layout-dir-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="default-layout" type="default-layout-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="screen-key" type="screen-key-type" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	
	<xsd:complexType name="view-controller-type">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="controller" type="controller-type"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:complexType name="velocity-engine-type">
		<xsd:complexContent>
			<xsd:extension base="engine-configurer-type">
				<xsd:group ref="engine-type-elements"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="event-cartridge-type">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="handler" type="common-string-value-type"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:group name="engine-type-elements">
		<xsd:all>
			<xsd:element name="velocity-configurer" type="velocity-configurer-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="runtime.log" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="resource.manager.class" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="resource.manager.cache.class" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="resource.manager.cache.size" type="common-integer-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="resource.manager.logwhenfound" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="input.encoding" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="output.encoding" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="runtime.introspector.uberspect" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="introspector.restrict.packages" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="introspector.restrict.classes" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="parser.pool.class" type="common-string-value-type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="parser.pool.size" type="common-integer-value-type" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:group>
	
	<xsd:complexType name="controller-type">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="controller-dir" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="template-dir-type">
		<xsd:attribute name="value" type="xsd:string" default="WEB-INF/templates"/>
	</xsd:complexType>
	
	<xsd:complexType name="screen-dir-type">
		<xsd:attribute name="value" type="xsd:string" default="screen"/>
	</xsd:complexType>
	
	<xsd:complexType name="layout-dir-type">
		<xsd:attribute name="value" type="xsd:string" default="layout"/>
	</xsd:complexType>
	
	<xsd:complexType name="default-layout-type">
		<xsd:attribute name="value" type="xsd:string" default="default"/>
	</xsd:complexType>
	
	<xsd:complexType name="screen-key-type">
		<xsd:attribute name="value" type="xsd:string" default="screen_placeholder"/>
	</xsd:complexType>
	
	<xsd:complexType name="suffix-type">
		<xsd:attribute name="value" type="xsd:string" default=".vm"/>
	</xsd:complexType>
	
	<xsd:complexType name="common-string-value-type">
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="common-integer-value-type">
		<xsd:attribute name="value" type="xsd:integer" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="velocity-configurer-type">
		<xsd:attribute name="class" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="engine-configurer-type" abstract="true">
		<xsd:attribute name="config-location" type="xsd:string"/>
	</xsd:complexType>
	
	<xsd:simpleType name="defaultable-boolean">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>